/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto Bold', 'Helvetica', 'Arial', sans-serif; /* removed Roboto */
    font-weight: 300;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100%;
}

.app-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow: hidden;
    z-index: 1;
}

.app-bar-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
}

.app-bar .logo {
    -webkit-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    line-height: 60px;
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

.app-bar-actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: background-color 0.2s ease-out;

    -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
    width: 60px;
    height: 60px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
    height:24px;
    width: 24px;
}

.promote-layer {
    /*
    This may promote the layer to a composited
    layer.

    Replace with will-change when available

    #perfmatters
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.base, p, ul, ol {
    font-size: 19px;
}

.navdrawer-container {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    color: #fefefe;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    overflow-y: scroll;
}

.navdrawer-container.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
}

.navdrawer-container h4 {
    background-color: white;
    color: #3367D6;
}

.navdrawer-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navdrawer-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease-out;
}

.navdrawer-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
}

.navdrawer-container ul li:before {
    content: none;
}

.navdrawer-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.navdrawer-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

main {
    margin: 0 auto;
    /* Height of the header */
    padding: 60px 16px 16px 16px;
    min-height: 100%;
}

.area-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.a1, .a2, .a3 {
  width: 100%;
}

.c1, .c2, .c3 {
  width: 100%;
}

/* sub-section wrap for tables */
.table-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

table h5 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

table p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.t1, .t2, .t3, .t4 {
  width: 100%;
}

p.note {
  border: 1px solid #222;
  border-radius: 6px;
  background: #3D3D3D;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}


/** Larger Screens - desktops and tablets **/
@media all and (min-device-width: 1200px) {
    body {
      background: url(../images/barback.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .app-bar {
        position: relative;
        background: rgba(25,25,25,.8);
    }

    .app-bar-container {
        display: block;
        height: 130px;
        max-width: 864px;
        padding: 0 16px;
        box-sizing: border-box;
        /*background:transparent; */
        /*background-color: rgba(245,245,245,0.2);*/
    }

    .app-bar .logo {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 130px;
        font-size: 120px;
    }

    .app-bar .logo-img {
        background: url(../images/logo.png) no-repeat center center fixed;

    }

    .app-bar .logo .billboard {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 150px;
        font-size: 180px;
    }

    .app-bar-actions {
        float: right;
    }

    .app-bar:after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    button.menu {
        display: none;
    }

    nav {
        display: block;
        margin-top: 130px;
    }

    #logo-show {
      margin: 0 auto;
    }
    .navdrawer-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 130px;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: none;
        overflow-y: auto;
    }

    .navdrawer-container h4 {
        display: none;
    }

    .navdrawer-container ul {
        display: -webkit-flex;
        display: flex;
        max-width: 864px;
        margin: 0 auto;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .navdrawer-container ul li {
        border: none;
    }

    main {
        margin-top: 20px;

        max-width: 970px;
        padding: 0 40px 40px 40px;
        min-height: initial;


    }

    main > section {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 20px 20px 20px;
        background: rgba(15,15,15,.2);
    }

    body {
        overflow-y: scroll;
    }

    .navdrawer-container {
        position: relative;
        margin-top: 0;
    }

    div#locationview {
      background-image: url('../images/lg-map.png');
    }

    tr, td {
      background: rgba(15,15,15,0.7);
      color: #CCCCCC;
    }

    table tr {
      border-bottom: 1px solid #2A2A2A;
    }

    section {
      color: #FFF;
    }

    table {
      margin: 0;
    }

    .area-container h4 {
      background: rgba(45,45,45,.2);
      margin-bottom: 10px;
      padding: 20px 0 20px 20px;
    }

}

@media all and (min-device-width: 1200px) and (max-width: 800px) {
    .app-bar .logo {
        float: none;
        width: 100%;
        line-height: normal;
        text-align: center;
        padding-top: 36px;
    }

    .app-bar-container {
        height: auto;
    }

    .app-bar-actions {
        width: 100%;
    }

    .navdrawer-container {
        padding: 0 16px;
        overflow-y: auto;
    }

    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }

    main > h4 {
      padding-top:0;
      padding-bottom:0;
      font-size: 36px;
    }

    td > h5 {
      padding-top:0;
      padding-bottom:0;
      font-size: 24px;
    }

    td > p {
      font-weight: 100;
    }

    #locationview {
      background-image: url('../images/brew.jpg');
    }

    .c3 > h4 {
      margin-top: 30px;
    }
}
@media (max-width: 979px) {
  .c3 > h4 {
    margin-top: 30px;
  }

}
@media (min-width: 980px) {

  .a1 {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }

  .a2 {
    width: 40%;
    -webkit-order: 2;
    order: 2;
  }
  .a3 {
    width: 60%;
    -webkit-order: 3;
    order: 3;
  }



  .c1 {
    width: 100%;
    -webkit-order: 1;
    order: 1;

  }

  .c2 {

    width: 67%;
    -webkit-order: 2;
    order: 2;
  }

  .c3 {
    width: 29%;
    -webkit-order: 3;
    order: 3;
    margin-left: 3%;

  }

  .t1 {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }
  .t2 {
    width: 43%;
    -webkit-order: 2;
    order: 2;
  }

  .t3 {
    width: 55%;
    -webkit-order: 3;
    order: 3;
    margin-left: 2%;
  }

  .t4 {
    width: 100%;
    -webkit-order: 4;
    order: 4;
  }

  .s1 {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }

  .s2 {
    width: 49%;
    -webkit-order: 2;
    order: 2;
  }

  .s3 {
    width: 47%;
    -webkit-order: 3;
    order: 3;
    margin-left: 4%;
  }

  .s4 {
    width: 100%;
    -webkit-order: 4;
    order: 4;
  }

}
@media (max-width: 640px) {


    section > h4 {
      font-size: 24px;
    }

    td > p {
      padding-right: 20px;
    }

    td > h5 {

      font-size: 18px;
    }

    table td:before {
      border-right: none;
    }

}

@media (min-width: 44em) {
  img {
    max-width: 100%;
  }
}
